<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <title>A3 Design | Online Catalog</title>
    <link rel="stylesheet" href="css/products.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <!---------- IMPORTS ---------->
    <script src="https://kit.fontawesome.com/9ffe78eb03.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!---------- NAVIGATION BAR ---------->

<body>
    <div class="navbar">
        <a href="index" class="logo"><img src="images/logo.png" width="125px"></a>
        <nav>
            <li><a href="index">Home</a> </li>
            <li><a class="active" href="products">Products</a> </li>
            <li><a href="about">About</a> </li>
            <li><a href="contact">Contact</a> </li>
        </nav>
        <a href="login">
            <img src="images/usernew.svg" width="54px" height="22px">
        </a>
    </div>

    <!---------- BREADCRUMBS ---------->
    <div class="container-breadcrumbs">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="index" class="breadcrumbs__link">Home</a>
            </li>

            <li class="breadcrumbs__item">
                <a href="products" class="breadcrumbs__link breadcrumbs__link--active">Products</a>
            </li>
        </ul>
    </div>


    <!---------- ROW 3 - PRODUCTS ---------->

    <container>
        <section id="designs" class="samples">
            <div class="section-text">
                <br>
                <br>
                <h2>OUR PRODUCTS</h2>
                <p>View your favourite products and buy through WhatsApp</p>
                <br>
                <form class="example" id="formId" style="margin-left: 875px;max-width:300px">
                    <h6>Search by Capital letter..</h6>
                    <input type="text" placeholder="Search.." name="category" id="category">

                    <button id="searchBox" onclick="setLink()"><i class="fa fa-search"></i></button>
                    <script>

                        function setLink() {
                            var link;
                            if (document.getElementById("category").value === '') {
                                link = "/products";
                            } else {


                                link = "/actionProduct/" + document.getElementById("category").value;
                                window.location.href = link;
                            }
                        }

                        document.getElementById("formId").addEventListener("click", function (event) {
                            event.preventDefault()
                        });
                    </script>


                </form>


            </div>
            <div class="featured">
                <%productsList.forEach(product => {%>
                    
                <div class="work">
                    <figure>
                        <a href="<%= product.id %>"><img src="<%= product.image %>" alt=""></a>
                        <figcaption>
                            <a href="products"><%= product.name %></a>
                            <br>
                            <a href="products"><%= product.price %></a>
                        </figcaption>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>

                    </figure>
                    <br>
                </div><%})%>
            </div>

        </section>
    </container>

    <!---------- FOOTER ---------->
    <%- include("partials/footer"); -%>

</body>

</html>