<!DOCTYPE html>
<html lang="en">  
<!---------- HEAD ---------->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <title>A3 Design | Online Catalog</title>
    <link rel="stylesheet" href="css/productView.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!---------- IMPORTS ---------->
    <!--- Adding icons such as WhatsApp, Facebook and Instagram pages --->
    <script src="https://kit.fontawesome.com/9ffe78eb03.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!---------- NAVIGATION BAR ---------->
<!--- Adds navbar items such as the logo, links and login icon --->

<body>
 <div class="navbar">
        <a href="index" class="logo"><img src="images/logo.png" width="125px"></a>
            <nav>
                <li><a href="index">Home</a> </li>
                <li><a class="active" href="products">Products</a> </li>
                <li><a href="about">About</a> </li>
                <li><a href="contact">Contact</a> </li>
            </nav>
        <a href="login">
        <img src="images/usernew.svg" width="54px" height="22px"> 
        </a>
    </div> 
     <%product.forEach(product => {%>

    <!---------- BREADCRUMBS ---------->
    <!--- Breadcrumbs will guide the user by showing the hierarchy of the website on the top of the page --->
    <div class="container-breadcrumbs">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="index" class="breadcrumbs__link">Home</a>
            </li>

            <li class="breadcrumbs__item">
                <a href="products" class="breadcrumbs__link breadcrumbs__link">Products</a>
            </li>
            <!--- Get product name from database --->
            <li class="breadcrumbs__item">
                <a href="products" class="breadcrumbs__link breadcrumbs__link--active"><%= product.name %>
                </a>
            </li>
        </ul>    
    </div>
        
<!---------- PRODUCT VIEW ---------->
<!--- Create container to store the divs --->
<main>
    <container>
    <section id="designs" class="samples">
        <div class="section-text">
            </div>
            <!--- Get product name from the database --->
            <h1><%= product.name %></h1>

        <!--- Product view --->
        <div class="featured">
            <div class="work">
                <figure>
                    <!--- Get product image --->
                    <img src="<%= product.image %>" width="100px" alt="">
                    <figcaption>
                        <!--- Get product name --->
                        <a href="products"><%= product.name %></a>
                        <br>
                        <!--- Get product price --->
                        <a href="products"><%= product.price %></a>
                    </figcaption>

                    <div class="rating">
                    <!--- Add star rating for each product --->
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    </div>

                </figure>
                <!--- Add space --->
                <br>
            </div>

        <!--- Get product details --->
        <div class="row">
        <div class="col50">
            <h2>Description</h2>
            <!--- Get product description from the database --->
            <p><%= product.description %></p>
            <br/>
            <h2>Category</h2>
            <!--- Get product category from the database --->
            <p><%= product.category %></p>
        </div>
        </div>

<!--- </section> --->

    </section>  
    </container>
    </main>
<%})%>

<!---------- FOOTER ---------->
<!--- Get footer partials --->
<%- include("partials/footer"); -%>

</body>
</html>