<!DOCTYPE html>
<html lang="en">
<!---------- HEAD ---------->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <title>A3 Design | Online Catalog</title>
    <link rel="stylesheet" href="css/products.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!---------- IMPORTS ---------->
    <!--- Adding icons such as WhatsApp, Facebook and Instagram pages --->
    <script src="https://kit.fontawesome.com/9ffe78eb03.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!---------- NAVIGATION BAR ---------->
<!--- Adds navbar items such as the logo, links and login icon --->

<body>
    <div class="navbar">
        <a href="index" class="logo"><img src="images/logo.png" width="125px"></a>
        <nav>
            <li><a href="index">Home</a> </li>
            <li><a class="active" href="products">Products</a> </li>
            <li><a href="about">About</a> </li>
            <li><a href="contact">Contact</a> </li>
        </nav>
        <a href="login">
            <img src="images/usernew.svg" width="54px" height="22px">
        </a>
    </div>

    <!---------- BREADCRUMBS ---------->
    <!--- Breadcrumbs will guide the user by showing the hierarchy of the website on the top of the page --->
    <div class="container-breadcrumbs">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="index" class="breadcrumbs__link">Home</a>
            </li>
            <!--- Present the name of the page the user is at this moment ---> 
            <li class="breadcrumbs__item">
                <a href="products" class="breadcrumbs__link breadcrumbs__link--active">Products</a>
            </li>
        </ul>
    </div>

    <!---------- PRODUCTS ---------->
    <!--- Create a container to show all the images and details from the products found on the database --->

    <container>
        <section id="design" class="samples">
            <div class="section-top">
                <!--- Adding some space --->
                <br><br>
                <h2>Wallpaper</h2>
                <p>Here at A3 Design, you can find your favourite products and purchase them through WhatsApp.
                <br>Select a product, view the details and press the Enquire button to speak to a consultant today.
                </p>
                <br>
            </div>
            
            <div class="section-text">
                <a href="products"><h1>20 items</h1></a>
                <!-- Search FORM !"£!"£!"£"!£!""    -->
                <form class="example" id="formId" style="margin-left: 875px; max-width:300px">
                    
                    <input type="text" placeholder="Search by capital letter.." name="category" id="category">
                   
                    <button id="searchBox" onclick="setLink()"><i class="fa fa-search"></i></button>
                    <script>

                        function setLink() {
                            var link;
                            if (document.getElementById("category").value === '') {
                                link = "/products";
                            } else {

                                link = "/actionProduct/" + document.getElementById("category").value;
                                window.location.href = link;
                            }
                        }
                        document.getElementById("formId").addEventListener("click", function (event) {
                            event.preventDefault()
                        });
                    </script>
                </form>
            </div>

            <!--- Request the server to get product information from the database --->
            <div class="featured">
                <%productsList.forEach(product => {%>

                <div class="work">
                    <a href="/product-productView?id=<%= product._id %>">
                    <figure>
                         <!--- Add product image --->
                        <a href="<%= product.id %>"><img src="<%= product.image %>" alt=""></a>
                         <!--- Add product name and price --->
                        <figcaption>

                            <a href="<%= product.id %>"><h2><%= product.name %></h2></a>
                            <br>
                            <a href="<%= product.id %>"><h3><%= product.price %></h3></a>
                        </figcaption>
                        <div class="rating">
                        <!--- Add star rating for each product --->
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        </div>
                    </figure>
                    </a>
                    <br>
                </div><%})%>

            </div>
        </section>
    </container>
    <!--- Close container and section --->

<!---------- FOOTER ---------->
<!--- Get footer partials --->
<%- include("partials/footer"); -%>

</body>
</html>